body {
    background-color: antiquewhite;
}

menu {
    text-align: center;
    margin: auto;
    width: 30%;
    padding-bottom: 1%;
    padding-top: 1%;
}

li {
    display: inline;
    
}

.Sign_up_form {
    margin: auto;
    text-align: center;
    font-size: 200%;
    color: brown;
}

li a {
    padding: 14px 16px;
    font-size: 20px;
}

.logo {
    display: block;
    margin: auto;
    width: 20%;
}

form {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

label {
    font-size: 120%;
    margin-top: 1%;
    margin-bottom: 1%;
}

input {
    width: 20%;
    margin-top: 0.25%;
    margin-bottom:  0.25%;
}

button {
    margin-top: 1%;
}

footer {
    text-align: center;
}