.row {
    display: flex;
    align-items: stretch;
}

.row .label {
    flex: 0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row .container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin-left: 5px;
}

.row .dish {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.pasta {
    background-color: #EE9972;
}

.pizza {
    background-color: #F4CE14;
}

.burrito {
    background-color: #13b12b;
}